
// fonts
$fs: 16px;

$ff-primary: 'Inter';

// breakpoints, media
$breakpoints: (
  xxl: 1920px,
  xl: 1680px,
  ll: 1440px,
  l: 1366px,
  d: 1280px,
  t: 1024px,
  m: 768px,
  s: 576px,
  xs: 375px,
  xxs: 320px,
);
@function breakpoint($variant: d) {
  @return map.get($breakpoints, $variant);
}
@function media($direction: ">", $variant: d) {
  @if $direction == ">" {
    @return "(min-width: #{breakpoint($variant)})";
  } @else if $direction == "<" {
    @return "(max-width: #{breakpoint($variant) - 1px})";
  } @else if $direction == "<=" {
    @return "(max-width: #{breakpoint($variant)})";
  } @else if $direction == "mt" {
    @return "(min-width: #{breakpoint(m)}) and (max-width: #{breakpoint(t) - 1px})";
  } @else if $direction == "td" {
    @return "(min-width: #{breakpoint(t)}) and (max-width: #{breakpoint(d) - 1px})";
  } @else if $direction == "md" {
    @return "(min-width: #{breakpoint(m)}) and (max-width: #{breakpoint(d) - 1px})";
  }
}

// colors
$colors: (
  black: #181D1D,
  white: #fff,
  borders: #E1E5EA,
  blue: #0076D8,
  gray: #929CA5,
);
@function color($variant: black) {
  @return map.get($colors, $variant);
}

// grid columns
$col-count-m: 4;
$col-count-d: 8;

$col-pad-m: rem(20px);
$col-pad-d: rem(120px);
$col-side-pad: rem(40px);

$col-gap-d: rem(20px);
$col-gap-m: rem(10px);

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1}) - #{$col-side-pad}) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition-duration: .5s;
$transition: $transition-duration $transition-timing-function;


$header-index: 999;