.accordion {
  $comp: &;
  padding: rem(8px) 0;
  @media #{media("<")} {
    padding: rem(14px) 0;
  }
  border-bottom: 1px solid color(borders);

  &:first-child {
    border-top: 1px solid color(borders);
  }

  &--alt {
    padding: 0;

    border-bottom: none;

    &:first-child {
      border-top: none;
    }

    #{$comp}__top {
      padding-bottom: rem(8px);

      height: rem(62px);

      border-bottom: 1px solid color(borders);
    }
  }

  &.active {
    #{$comp}__icon {
      transform: rotate(180deg);
    }
  }

  &__top {
    height: rem(54px);
    @media #{media("<")} {
      height: auto;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__title {
    font-weight: 500;
    @include fsl(18px, 120%);
    @media #{media("<")} {
      @include fsl(16px);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    transition: $transition;
  }

  &__svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);

    transform: rotate(90deg);
  }

  &__body {
    padding-top: rem(16px);
    padding-bottom: rem(26px);
    @media #{media("<")} {
      padding-bottom: rem(12px);
    }
    display: none;
  }

  &__block {
    padding-bottom: rem(32px);

    border-bottom: 1px solid color(borders);

    &:not(:first-child) {
      margin-top: rem(32px);
    }
    
    &.small {
      padding-bottom: rem(24px);
    }
  }
}