.autopay {

  &__copy {
    margin-top: rem(22px);
    padding-bottom: rem(32px);
    @media #{media("<")} {
      margin-top: rem(14px);
      padding-bottom: rem(24px);

      max-width: rem(300px);
    }
    @media #{media("<", m)} {
      max-width: auto;
    }
    border-bottom: 1px solid color(borders);
  }

  &__bot {
    margin-top: rem(48px);
    @media #{media("<")} {
      margin-top: rem(15px);
    }
  }

  &__title {
    margin-bottom: rem(20px);
    @media #{media("<")} {
      margin-bottom: rem(16px);
      letter-spacing: -0.01em;
    }
    font-weight: 600;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(16px);
    @media #{media("<", m)} {
      grid-template-columns: 1fr;
      row-gap: rem(20px);
    }
  }
}