.button {

  width: 100%;
  height: rem(56px);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: rem(8px);
  background-color: color(blue);
  color: color(white);
  font-weight: 600;
  @include fsl(16px, 120%);
}