.button {

  width: 100%;
  height: rem(56px);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: rem(8px);
  background-color: color(blue);
  transition: $transition;
  color: color(white);
  font-weight: 600;
  @include fsl(16px, 120%);

  &:hover {
    background-color: color(blue-hover);
  }

  &--outline {
    color: color(blue);
    border: 1px solid color(blue-border);
    background-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: color(blue);
    }
  }

  &--small {
    height: rem(48px);

    &--alt {
      @media #{media("<")} {
        height: rem(40px);
      }
    }
  }

  &--black {
    background-color: #001F38;
  }

  &.disabled {
    background-color: color(gray);
    pointer-events: none;
  }

  &__icon {
    margin-right: rem(10px);

    display: flex;
    align-items: center;
  }

  &__svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);

    path {
      transition: $transition;
    }

    &.blue {
      path {
        fill: color(blue);
      }
    }
  }
}