.button {

  width: 100%;
  height: rem(56px);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: rem(8px);
  background-color: color(blue);
  color: color(white);
  font-weight: 600;
  @include fsl(16px, 120%);

  &--outline {
    color: color(blue);
    border: 1px solid color(blue-border);
    background-color: transparent;
  }

  &__icon {
    margin-right: rem(10px);

    display: flex;
    align-items: center;
  }

  &__svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);

    &.blue {
      path {
        fill: color(blue);
      }
    }
  }
}