.copy {
  $comp: &;
  padding: rem(8px);

  display: inline-flex;
  align-items: center;

  border-radius: rem(8px);
  background-color: rgba(color(blue), 0.1);
  cursor: pointer;

  &--second {
    padding: 0 rem(8px);

    height: rem(24px);

    border-radius: rem(4px);

    #{$comp}__svg {
      --size: #{rem(16px)};
    }
    #{$comp}__text {
      @include fsl(14px, 140%);
    }
  }

  &.active {
    #{$comp}__svg {
      display: none;
    }
    #{$comp}__ok {
      display: block;
    }
  }

  &__icon {
    position: relative;
    z-index: 0;
    margin-right: rem(4px);
    
    display: flex;
    align-items: center;
  }

  &__svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);
  }

  &__text {
    color: color(blue);
  }

  &__ok {
    display: none;

    path {
      fill: color(blue);
    }
  }
}