.feedback {
  $comp: &;
  --pad: #{rem(40px)};
  @media #{media("<")} {
    --pad: #{rem(16px)};
  }
  position: fixed;
  z-index: 100;
  bottom: var(--pad);
  right: var(--pad);
  padding: rem(10px) rem(12px);

  display: flex;
  align-items: center;

  background-color: color(white);
  border: 1px solid color(borders);
  border-radius: rem(8px);
  cursor: pointer;
  transition: $transition;

  &:hover {
    border-color: color(blue);
    #{$comp}__text {
      color: color(blue);
    }
  }

  &__icon {
    margin-right: rem(10px);
    @media #{media("<")} {
      margin-right: 0;
    }
    display: flex;
    align-items: center;
  }

  &__svg {
    width: rem(24px);
    height: rem(24px);
  }

  &__text {
    font-weight: 600;
    @include fsl(14px, 140%);
    transition: $transition;
    @media #{media("<")} {
      display: none;
    }
  }
}