.form-item {
  &:not(:first-child) {
    margin-top: rem(16px);
  }
}

.input {
  // padding: rem(16px);
  padding: rem(26px) rem(16px) rem(16px);
  
  height: rem(56px);
  width: 100%;

  border-radius: rem(8px);
  font-family: $ff-primary;
  letter-spacing: -0.01em;
  border: 1px solid #C3CBD5;
  font-weight: 400;
  transition: $transition;
  @media #{media("<")} {
    @include fsl(14px)
  }

  &:hover {
    border-color: color(blue);
  }
  &:focus {
    border-color: color(blue);
  }
  &::placeholder {
    opacity: 0;
  }
  // &.parsley-error {
  //   border-color: color(error);
  // }

  &--secondary {
    padding: rem(16px) 0;

    border-radius: 0;
    border: none;
    border-bottom: 1px solid color(gray-second);
  }

  &--default {
    padding: 0 rem(16px);
  }
}

.input-wrapper {
  $comp: &;
  position: relative;
  z-index: 0;

  &:focus-within,
  &.filled {
    #{$comp}__placeholder {
      top: rem(10px);
      transform: scale(0.6);
    }
  }

  &--secondary {
    .input {
      padding: rem(31px) 0 rem(16px);

      height: rem(71px);
      @media #{media("<")} {
        padding: rem(20px) 0 rem(9px);

        height: rem(53px);
      }

      border-radius: 0;
      border: none;
      border-bottom: 2px solid color(gray-second);
    }

    #{$comp}__placeholder {
      left: 0;
      top: rem(31px);
      @media #{media("<")} {
        top: rem(20px);
      }
      line-height: 1.4;
    }

    &:focus-within,
    &.filled {
      #{$comp}__placeholder {
        top: 0;
        transform: scale(0.87);
      }
    }

    &.filled {
      .input {
        border-color: #C3CBD5;
      }
    }

    &:focus-within,
    &:hover {
      .input {
        border-color: color(blue);
      }
    }

    .parsley-errors-list {
      margin-left: 0;
    }
  }

  &--small {
    .input {
      padding: 0;
  
      height: rem(56px);
      @media #{media("<")} {
        height: rem(35px);
      }
    }
  }

  &__placeholder {
    position: absolute;
    left: rem(16px);
    top: rem(18px);
    @media #{media("<")} {
      // left: rem(17px);
      // top: rem(17px);

      // @include fsl(14px);
    }
    
    letter-spacing: -0.01em;
    transform-origin: left top;
    @include fsl(16px, 100%);
    color: color(gray);
    transition: $transition;
    pointer-events: none;
  }
}

.checkbox {
  $comp: &;
  position: relative;
  z-index: 0;

  &__label {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      #{$comp}__box {
        border-color: color(blue);
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        border-color: color(blue);
        background-color: color(blue);

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    margin-right: rem(12px);

    width: rem(20px);
    height: rem(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: $transition;
    border: 1px solid color(gray);
    border-radius: rem(5px);
  }

  &__svg {
    width: rem(14px);
    height: rem(10px);
    flex-shrink: 0;

    opacity: 0;
    transition: $transition;
  }

  &__text {
    font-weight: 500;
    @include fsl(12px, 120%);
    @media #{media("<")} {
      @include fsl(10px, 100%);
    }
  }

  &__link {
    font-weight: 700;
    transition: $transition;

    &:hover {
      color: color(blue);
    }
  }

  &__caption {
    letter-spacing: -0.01em;
    line-height: 100%;
    // @media #{media("<")} {
    //   @include fsl(12px, 100%);
    // }

    &.big {
      font-weight: 500;
      letter-spacing: 0;
      @include fsl(18px);
    }
  }
}

.textarea {
  padding: rem(20px);
  @media #{media("<")} {
    padding: rem(13px) rem(20px);
  }

  width: 100%;
  height: rem(120px);

  resize: none;
  font-family: $ff-primary;
  border: 1px solid color(borders-alt);
  font-weight: 500;
  transition: $transition;
  @media #{media("<")} {
    @include fsl(14px)
  }

  @include placeholder {
    color: color(text-faded);
  }

  &:hover {
    border-color: color(green);
  }
  &:focus {
    border-color: color(green);
  }
  &.filled {
    border-color: color(green);
  }
  &.parsley-error {
    border-color: color(error);
  }

  &--big {
    height: rem(320px);
    @media #{media("<")} {
      height: rem(160px);
    }
  }
}

.file {

  // &__item {
  //   margin-top: rem(4px);

  //   display: flex;
  //   align-items: center;

  //   &:first-child {
  //     margin-top: rem(20px);
  //   }
  // }

  // &__name {
  //   font-weight: 500;
  //   @media #{media("<")} {
  //     @include fsl(14px);
  //   }
  // }

  &__label {
    position: relative;
    z-index: 0;

    display: flex;

    cursor: pointer;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &__icon {
    margin-right: rem(8px);

    display: flex;
    align-items: center;
  }

  &__svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);

    path {
      fill: color(blue);
    }
  }

  &__text {
    color: color(blue);
    font-weight: 600;
    line-height: 137%;
  }
}

.parsley-errors-list {
  margin-top: rem(10px);
  margin-left: rem(16px);
  // position: absolute;
  // top: calc(100% + #{rem(4px)});
  @media #{media("<")} {
    position: static;
    margin-top: rem(6px);
  }
  @include fsl(12px, 100%);
  color: color(error);
}

.password {
  position: relative;
  z-index: 0;

  .input {
    padding-right: rem(50px);
  }

  &__icon {
    position: absolute;
    top: rem(16px);
    // top: 50%;
    right: rem(16px);
    // transform: translateY(-50%);
    z-index: 1;

    cursor: pointer;

    &.active {
      path {
        fill: color(blue);
      }
    }
  }

  &__svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);
    
    path {
      transition: $transition;
    }
  }
}