.label {
  padding: 0 rem(8px);
  @media #{media("<")} {
    margin-left: rem(200px);
    height: rem(24px);
  }
  @media #{media("<", m)} {
    margin-left: 0;
  }
  height: rem(20px);
  display: flex;
  align-items: center;

  color: color(green);
  background-color: rgba(86, 189, 104, 0.10);
  border-radius: rem(4px);
  @include fsl(12px, 120%);

  &.inline {
    margin-left: rem(4px);

    display: inline-flex;
  }

  &.alt {
    @media #{media("<")} {
      margin-left: 0;

      display: inline-flex;
    }
  }

  &.stopped {
    color: color(yellow);
    background-color: rgba(242, 201, 76, 0.15);
  }
}