.sidebar {
  $comp: &;
  padding-top: 15vh;
  // padding-top: rem(136px);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $header-index - 1;
  @media #{media("<")} {
    padding-top: rem(48px);
    position: static;
    
    width: rem(300px);

    border-right: none;
    overflow-y: auto;
  }
  @media #{media("<", s)} {
    width: 100%;
  }
  display: block;
  width: calc(#{$col-part-d} * 2 - #{$col-gap-d} + #{$col-side-pad});

  background-color: color(white);
  border-right: 1px solid color(borders);

  &__container {
    padding: 0 rem(40px) rem(40px);
    @media #{media("<")} {
      padding: 0 rem(16px) rem(30px);
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav {
    margin-bottom: 5.5vh;
    // margin-bottom: rem(50px);
  }

  &__item {

    &:not(:first-child) {
      margin-top: rem(34px);
    }
  }
  &__item-link {
    display: flex;
    align-items: center;

    &.active {
      #{$comp}__item-svg {
        path {
          fill: color(blue);
        }
      }
      #{$comp}__item-text {
        color: color(blue);
      }
    }

    &:hover {
      #{$comp}__item-svg {
        path {
          fill: color(blue);
        }
      }
      #{$comp}__item-text {
        color: color(blue);
      }
    }
  }
  &__item-icon {
    margin-right: rem(16px);

    display: flex;
    align-items: center;
  }
  &__item-svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);

    path {
      transition: $transition;
    }
  }
  &__item-text {
    @include fsl(18px, 110%);
    font-weight: 500;
    transition: $transition;
  }

  &__list {}
  &__list-item {

    display: flex;

    &:not(:first-child) {
      margin-top: rem(16px);
    }
  }

  &__link {
    color: color(gray);
    font-weight: 500;
    transition: $transition;
    line-height: 150%;

    &:hover {
      color: color(blue);
    }
    
    &.active {
      color: color(blue);
    }
  }

  &__block {
    padding: rem(27px) rem(32px) rem(32px);
    @media #{media("<")} {
      margin-top: rem(60px);
      padding: rem(11px) rem(16px) rem(16px);
      
      height: rem(228px);
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: rem(244px);
    height: 27vh;
    min-height: rem(200px);

    border: 1px solid color(borders);
    border-radius: rem(8px);
    transition: $transition;

    &:hover {
      border-color: color(blue);
    }
  }
  &__block-item {}
  &__block-title {
    margin-bottom: rem(8px);
    @media #{media("<")} {
      max-width: rem(216px);
    }
    font-weight: 500;
    @include fsl(18px, 150%);
    letter-spacing: -0.01em;
  }
  &__block-text {
    @media #{media("<")} {
      max-width: rem(216px);
    }
    color: color(gray);
    letter-spacing: -0.01em;
    line-height: 150%;
  }
  &__block-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__block-svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);
  }
}