.sidebar {
  $comp: &;
  padding-top: rem(136px);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $header-index - 1;

  display: block;
  width: calc(#{$col-part-d} * 2 - #{$col-gap-d} + #{$col-side-pad});

  background-color: color(white);
  border-right: 1px solid color(borders);

  &__container {
    padding: 0 rem(40px) rem(40px);

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav {
    margin-bottom: rem(40px);
  }

  &__item {

    &:not(:first-child) {
      margin-top: rem(32px);
    }
  }
  &__item-link {
    display: flex;
    align-items: center;

    &.active {
      #{$comp}__item-svg {
        path {
          fill: color(blue);
        }
      }
      #{$comp}__item-text {
        color: color(blue);
      }
    }

    &:hover {
      #{$comp}__item-svg {
        path {
          fill: color(blue);
        }
      }
      #{$comp}__item-text {
        color: color(blue);
      }
    }
  }
  &__item-icon {
    margin-right: rem(16px);

    display: flex;
    align-items: center;
  }
  &__item-svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);

    path {
      transition: $transition;
    }
  }
  &__item-text {
    @include fsl(18px, 110%);
    font-weight: 500;
    transition: $transition;
  }

  &__list {}
  &__list-item {

    display: flex;

    &:not(:first-child) {
      margin-top: rem(16px);
    }
  }

  &__link {
    color: color(gray);
    font-weight: 500;
    transition: $transition;

    &:hover {
      color: color(blue);
    }
    
    &.active {
      color: color(blue);
    }
  }

  &__block {
    padding: rem(27px) rem(32px) rem(32px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: rem(244px);

    border: 1px solid color(borders);
    border-radius: rem(8px);
  }
  &__block-item {}
  &__block-title {
    margin-bottom: rem(8px);

    font-weight: 500;
    @include fsl(18px, 150%);
    letter-spacing: -0.01em;
  }
  &__block-text {
    color: color(gray);
    letter-spacing: -0.01em;
    line-height: 150%;
  }
  &__block-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__block-svg {
    --size: #{rem(24px)};

    width: var(--size);
    height: var(--size);
  }
}