extends ../app

block variables
  - var sidebarActive = 1

block content
  .services-page
    .panel
      a.panel__link(href="#") 
        .panel__icon 
          +arrow-left-svg.panel__svg 
        .panel__label 
          |Услуги
      .panel__text 
        |Доступные
    section.section.section--first-panel
      .container
        h3.section__title 
          |Телефония
        .services-page__categories 
          .categories
            each item, i in ['Все (3)', 'Тарифы (2)', 'Специальные предложения (1)', ]
              .categories__item 
                .categories__btn(class=(i===0 ? 'active' : null))
                  |#{item}
        .services-page__wrapper
          .section__heading.services-page__wrapper-title
            |Специальные предложения 
          .services-page__offer
            .services-page__offer-container
              .services-page__offer-title 
                |Онлайн ТВ «iPakt» на 5 устройствах
              .services-page__offer-text 
                |Вам доступен сервис онлайн ТВ «iPakt» на 5 устройстсвах. Пакет "Популярный"     
              .services-page__offer-btn 
                button.button.button--black 
                  |Подключить
              a.services-page__offer-link(href="#") 
                |Подробнее об опции на сайте
        .services-page__list 
          .services-page__item
            .services-page__item-heading
              |Тарифы
            .services-page__item-grid 
              - for (i = 0; i < 2; i++)
                .services-page__card
                  .services-page__card-container
                    .services-page__card-top.second
                      .services-page__card-heading
                        |Всегда на связи 
                      if (i === 0)
                        .services-page__card-caption
                          |Безлимитные звонки на городские номера
                      .services-page__card-body 
                        .services-page__card-list 
                          .services-page__card-row 
                            .services-page__card-col
                              .services-page__card-text 
                                |Лен. Обл.
                            .services-page__card-text.bold
                              |2.00 руб./мин
                          .services-page__card-row 
                            .services-page__card-col
                              .services-page__card-text 
                                |Мобильные телефоны СПб и ЛО 
                            .services-page__card-text.bold
                              |2.00 руб./мин
                    .services-page__card-bot 
                      .services-page__card-price 
                        |150 ₽/мес 
                      .services-page__card-btn 
                        |Подключить