extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Условия подключения сервиса "REC"
          .conditions-page__blocks
            .conditions-page__block
              p 
                |Условия подключения сервиса "REC"
                br
                |1.	В перечень услуг базового тарифа входит:
                br
                |- Детектор движения - позволяет детектировать движение (или его отсутствие) в кадре;
                br
                |- Детектор звука - позволяет анализировать звуковые потоки и срабатывать, когда уровень звука превышает заданный предел;
                br
                |- Маскирование зон - данная функция позволяет Вам скрыть часть кадра, которая может содержать конфиденциальную информацию, от посторонних пользователей;
                br
                |- PTZ слежение - позволяет перемещать PTZ-камеру в сторону движущихся объектов. Для работы данного модуля камера должна поддерживать функции PTZ.
                br
                |2.	Дополнительно к базовым услугам Вы можете подключить следующие модули:
                br
                |- Детектор оставленных предметов. Обнаруживает объекты, появившиеся и оставшиеся в зоне детектирования на определенное время, и может вызывать предустановленные действия-реакции;
                br
                |- Детектор пересечения линии. Позволяет нарисовать в поле зрения камеры линию и реагировать на пересечение таких линий в нужном направлении, а также вести подсчёт пересечений;
                br
                |- Детектор праздношатания. Срабатывает, когда какой-то объект находится в этой зоне указанное время;
                br
                |- Объединитель. Возможность объединять изображения с двух видео источников в одно.
                br
                |- Подсчет посетителей;
                br
                |- Всплывающее окно. Позволяет автоматически разворачивать программу REC из свёрнутого состояния при поступлении изображения (не доступно в WEB версии);
                br
                |- Детектор дыма. Позволяет обнаружить наличие дыма в зоне детектирования камеры и сообщает об этом на указанный электронный адрес либо несколько.
                br
                |3.	Сервис "REC" доступен для подключения только Абонентам услуги доступа в Интернет от ООО «П.А.К.Т.».
                br
                |4.	 Подключение сервиса "REC" возможно на ТП со скоростью от 10 Мбит/с и более.
                br
                |5.	 Стоимость настройки одной камеры - 600 рублей.
                br
                |6.	 Количество ip-камер, подключенных в рамках одного договора, неограниченно.
                br
                |7.	 Для подключения сервиса "REC" могут использоваться ip-камеры, как приобретенные в компании при подключении, так и собственные клиентские при условии поддержки протокола RTSP.


