extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Условия предоставления тарифных планов «Абонемент» 
          .conditions-page__blocks
            .conditions-page__block
              p 
                |1.	Тарифные планы линейки «Абонемент» доступны физическим лицам, новым и действующим абонентам услуг Кабельное телевидение и Телематические услуги связи (интернет).
                br
                |2.	Для подключения доступны тарифные планы линейки «Абонемент» на 6, 12, 18 и 24 месяца.
                br
                |3.	Плата за подключение на тарифный план линейки «Абонемент» не взимается.
                br
                |4.	Списание стоимости тарифных планов линейки «Абонемент» происходит единовременно в момент подключения тарифа.
                br
                |5.	Подключение тарифных планов линейки «Абонемент» проводится на основании заявления клиента и при наличии необходимой суммы на лицевом счете клиента.
                br
                |6.	Продление выбранного тарифного плана линейки «Абонемент» возможно автоматически при наличии необходимой суммы на лицевом счете клиента. 
                br
                |7.	Смена тарифного плана линейки «Абонемент» ранее окончания срока его действия, а также увеличение скорости доступа в рамках тарифного плана «Абонемент», считается сменой ТП и проводится на основании заявления клиента с возвратом остатка денежных средств на счет Абонента и подключением нового тарифного плана «Абонемент» на условиях, описанных выше.
                br
                |8.	До окончания срока действия текущего тарифного плана «Абонемент» переход на тарифный план линейки «Абонемент» меньшим сроком действия не доступен.
                br
                |9.	Переход с ТП с более высокой скоростью доступа на ТП со скоростью ниже в рамках ТП «Абонемент» возможен только по окончании срока действия ТП «Абонемент».
                br
                |10.	Окончание действия тарифного плана линейки «Абонемент» наступает при недостатке средств на счете для оплаты стоимости услуги или при отказе от подписки.
                br
                |11.	Временная приостановка (временное отключение по заявлению) на тарифные планы не распространяется.
                br
                |12.	При отказе от тарифных планов линейки «Абонемент» или расторжении договора на оказание услуг до завершения действия тарифного плана «Абонемент» списание денежных средств со счета Абонента производится с учетом перерасчета стоимости всего периода пользования Абонементом по утвержденному тарифному плану. Возврат остатка денежных средств осуществляется по заявлению Абонента.
            .conditions-page__block
              p.gray
                |Примечание: Тарифные планы линейки «Абонемент», предлагаемые в рамках текущих Акций, не подлежат продлению. По окончании их действия Абонент может выбрать любой из действующих тарифных планов, либо, при наличии необходимой суммы на лицевом счете, любой из действующих тарифных планов линейки «Абонемент».

