extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Условия аренды оборудования
          .conditions-page__blocks
            .conditions-page__block
              h2
                |Условия предоставления САМ-модуля в аренду
              p 
                |1.	Услуга аренды САМ-модуля доступна для новых и для действующих абонентов, имеющим регистрацию в Санкт-Петербурге или Ленинградской области, при оформлении платной подписки на телеканалы цифрового формата. 
                br
                |2.	После заключения Договора аренды оборудования (Приложение № 2) абоненту предоставляется в аренду САМ-модуль (далее – «оборудование») в бессрочное пользование.
                br
                |3.	Ежемесячная стоимость аренды – 50 рублей.
                br
                |4.	Арендная плата за оборудование начисляется с фактической даты подписания Договора аренды и акта-приема передачи.
                br
                |5.	Временная приостановка по услуге «Аренда» не предусмотрена. Услуга «Аренда» действует на протяжении действия Договора Аренды.
                br
                |6.	При условии принудительной блокировки услуги (услуг) по причине нехватки средств на клиентском счете, начисления по аренде не приостанавливаются. 
                br
                |7.	При расторжении Договора, в т. ч. в случае непрерывной блокировки более 6 (шесть) месяцев абонент обязан вернуть оборудование или выкупить его по полной стоимости, указанной в Договоре. 
                br
                |8.	При расторжении Договора аренды, проведенные ранее списания денежных средств со счета абонента, относящиеся к Договору аренды, вне зависимости от фактического пользования услугой, абоненту не возвращаются.
                br
                |9.	В случае оформления переезда абонента на новый адрес или при замене вышедшего из строя арендованного оборудования (по причинам, зависящим от ООО «П.А.К.Т.») на исправное, действующий Договор аренды не расторгается, заключается дополнительное соглашение об изменении отдельных условий договора, а именно адреса установки предмета аренды. 
                br
                |10.	При утрате оборудования клиентом или при выходе из строя оборудования по причинам, не зависящим от компании, клиент должен произвести выкуп оборудования, оплатив полную стоимость, указанную в Договоре.  
            .conditions-page__block
              h2
                |Условия предоставления САМ-модуля в аренду
              p 
                |1.	Услуга аренды маршрутизатора доступна для новых и для действующих Абонентов при подключении услуги доступа в Интернет. 
                br
                |2.	После заключения Договора аренды оборудования с правом выкупа (Приложение № 2) абоненту предоставляется в аренду маршрутизатор (далее – «оборудование») сроком на 24 месяца.
                br
                |3.	Ежемесячная стоимость аренды – 90 рублей.
                br
                |4.	Арендная плата начисляется ежемесячно вне зависимости от состояния услуг, в том числе в период блокировки.
                br
                |5.	Временная приостановка по услуге «Аренда» не предусмотрена. Услуга «Аренда» действует на протяжении действия Договора Аренды.
                br
                |6.	По истечении 24 месяцев абонент может воспользоваться любым из вариантов: 
                br
                |7.	При расторжении Договора, в т. ч. в случае непрерывной блокировки более 6 (шесть) месяцев абонент обязан вернуть оборудование или выкупить его в соответствии с условиями, указанными в Договоре. 
                br
                |-  выкупить оборудование по цене 3 руб.;
                br
                |- продолжить его аренду (ст.621 ГК РФ п.2: «Если арендатор продолжает пользоваться имуществом после истечения срока договора при отсутствии возражений со стороны арендодателя, договор считается возобновленным на тех же условиях на неопределенный срок");
                br
                |-  вернуть оборудование в ООО «П.А.К.Т.».
                br
                |8.	При расторжении Договора аренды, проведенные ранее списания денежных средств со счета абонента, относящиеся к Договору аренды, вне зависимости от фактического пользования услугой, абоненту не возвращаются.
                br
                |9.	В случае оформления переезда абонента на новый адрес или при замене вышедшего из строя арендованного оборудования (по причинам, зависящим от ООО «П.А.К.Т.») на исправное, действующий Договор аренды не расторгается, заключается дополнительное соглашение об изменении отдельных условий договора. 
                br
                |10.	При утрате оборудования клиентом или при выходе из строя оборудования по причинам, не зависящим от компании, клиент должен произвести выкуп оборудования, оплатив выкупную стоимость на дату выкупа.  Выкупная стоимость оборудования (руб.) рассчитывается по формуле: К*(24-М)+3, где
                br
                |К - коэффициент для расчета выкупной стоимости, К=90; 24 - установленный срок аренды оборудования - 24 месяца;  3 - установленная выкупная стоимость оборудования по истечении срока аренды в рублях; М - количество полных календарных месяцев, прошедших с даты заключения настоящего  договора до даты выкупа Оборудования.
                br
                |11.	При желании, до истечения срока Договора аренды, абонент может выкупить оборудование по расчетной выкупной стоимости

