extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Условия предоставления сервиса «Условный платеж»
          .conditions-page__blocks
            .conditions-page__block
              p 
                |При активации сервиса «Условный платеж» предоставляется отсрочка платежа сроком на 7 дней. Оплатить сумму «Условного платежа» и пополнить свой лицевой счет необходимо в течение 7 дней с момента его начисления. Воспользоваться сервисом "Условный платеж" можно не чаще одного раза в месяц и при условии погашения "Условного платежа" за прошлый период.
