extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Описание сервиса «Умный домофон»
          .conditions-page__blocks
            .conditions-page__block
              p 
                |IP домофон – система, построенная на базе сети Ethernét, что определяет его широкие функциональные возможности, в том числе удаленный доступ к различным сервисам. 
                br
                |Из любой точки мира с помощью ПК или смартфона через мобильное приложение (iOS или Android) можно:
                br
                |•       принять вызов от подъездного/квартирного домофона;
                br
                |•       увидеть изображение посетителя, поговорить с ним; 
                br
                |•       открыть дверь; 
                br
                |•       просмотреть видео в реальном времени с камер, установленных в квартире; 
                br
                |•       установить локальную сигнализацию в квартире;
                br
                |•       подключить до 8 датчиков различного назначения;
                br
                |•       дистанционно управлять различными устройствами: кондиционер, автоматизированные роллеты/жалюзи, освещение и т.п
                br
                |Приложение можно скачать бесплатно в Play Market и App Store по ссылке http://onelink.to/rosdomofon или QR-код


