extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Условия подключения дополнительных пакетов ЦТВ
          .conditions-page__blocks
            .conditions-page__block
              p 
                |1.	Подписка на дополнительные пакеты цифрового ТВ возможна только при подключении пакета "Базовый";
                br
                |2.	Для просмотра пакетов требуется дополнительное оборудование (САМ-модуль). Вы можете приобрести его в собственность или арендовать;
                br
                |3.	Подключение дополнительных пакетов цифрового ТВ бесплатно;
                br
                |4.	Первые 7 дней все каналы транслируются в открытом доступе;
                br
                |5.	При подключении 2-х и более комплектов оборудования предоставляется скидка в размере 30% от абонентской платы на подписку на 2-м и последующих комплектах оборудования.
