extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Условия подключения «П.А.К.Т.- VoIP»
          .conditions-page__blocks
            .conditions-page__block
              p 
                |Для пользования услугой необходимо заключить договор и поддерживать на лицевом счёте положительный денежный баланс. Услуга предоставляется на оборудовании компании.
                br
                |Стоимость подключения - 3000 руб., включая стоимость комплекта оборудования.
                br
                |В домах с сетью интернет, построенной по технологии DOCSIS, услугу "Телефония" можно подключить только в паре с услугой интернет.
                br
                |Сохранение телефонного номера в период принудительной блокировки услуги "Телефония" при неоплате и при временной приостановке по
                br
                |заявлению клиента - 150 руб./мес
            .conditions-page__block
              h2 
                |Как подключить?
              p 
                |- С помощью VoIP-адаптера. Это устройство с FXS портом (RJ11), к которому можно подключить обычный аналоговый телефон, DECT или другой беспроводной телефон, и даже факс. Набор номера на телефонном аппарате, подключенном к IP-телефонии, осуществляется в тональном режиме.
                br
                |- С помощью IP-телефона — устройства, подключаемого в сеть ethernet (может также подключаться в телефонную сеть и иметь встроенный аналоговый модем). Данный тип телефона позволяет подключиться к VoIP-провайдеру (IP-АТС) для ведения телефонных разговоров, передачи коротких сообщений (SMS), передачи видеоизображения и пр.
                br
                |Кроме того, необходим отдельный IP- адрес и синхронный канал передачи данных сети Интернет со скоростью не менее 64 кбит/с на один телефонный канал. Рекомендуемая скорость — не менее 128 кбит/с;




