extends ../layouts/secondary


block content
  .conditions-page
    section.conditions-page__section
      .container
        .conditions-page__content
          h1.conditions-page__title 
            |Правила предоставления сервиса «Приостановка по заявлению»
          .conditions-page__blocks
            .conditions-page__block
              p 
                |Абонент может приостановить оказание Услуг связи на период, не превышающий суммарно 1 (один) календарный месяц за 1 (один) год. За весь период приостановления Оператором связи может взиматься плата, предусмотренная Прейскурантом. Возобновление Услуг связи возможно только при положительном балансе.
