extends ../app

block variables
  - var sidebarActive = 1

block content
  .services-page.connected-page
    .panel
      a.panel__link(href="#") 
        .panel__icon 
          +arrow-left-svg.panel__svg 
        .panel__label 
          |Услуги
      .panel__text 
        |Подключенные
    section.section.section--first-panel(data-real-tabs='')
      .container
        .sections
          .sections__list 
            .sections__tab.active(data-tabs-item='')
              |Мои опции
            .sections__tab(data-tabs-item='') 
              |Доступные опции
        .services-page__inner 
          .services-page__block.active(data-tabs-block='')
            .connected-page__container 
              .connected-page__top
                .connected-page__top-col
                  .connected-page__icon 
                    +globe-svg.connected-page__svg 
                .connected-page__top-col.tooltip
                  .connected-page__contract(data-tooltip-icon='')
                    .connected-page__contract-icon
                      +contract-svg.connected-page__contract-svg 
                    .connected-page__contract-text 
                      |0987654321
                  .tooltip__container 
                    |Договор
                  .connected-page__top-label
                    .label
                      |Активна
              .connected-page__head
                .connected-page__head-col
                  h3.section__title 
                    |Интернет
                .connected-page__head-col
                  .section__label.default
                    |Оплата включена в квитанцию ЖКУ
              .connected-page__layout
                .connected-page__inner 
                  .connected-page__row
                    .connected-page__row-col
                      .services-page__card-label 
                        |Тариф
                      .connected-page__heading.underline
                        |Умный домофон 
                    .connected-page__row-col
                      .connected-page__row-item 
                        .services-page__card-label 
                          |Стоимость
                        .connected-page__text 
                          |220 ₽/мес
                      .connected-page__row-item.only-mobile
                        .section__label.default
                          |Оплата включена в квитанцию ЖКУ
                      .connected-page__row-item 
                        .services-page__card-label 
                          |Дата подключения
                        .connected-page__text 
                          |31.01.22 
              .connected-page__wrapper 
                .connected-page__accordion-heading 
                  |Оборудование
                .connected-page__inner 
                  .services-page__card-label 
                    |Оборудование
                  .connected-page__text 
                    |Название оборудования
                .connected-page__inner
                  .connected-page__row
                    .connected-page__row-col
                      .services-page__card-label 
                        |Статус
                      .connected-page__text 
                        |В собственности
                    .connected-page__row-col
                      .connected-page__row-item
                        .services-page__card-label 
                          |Стоимость
                        .connected-page__text 
                          |3000  ₽
              .connected-page__inner
                .connected-page__bot
                  .connected-page__bot-col
                    .connected-page__bot-item
                      .connected-page__btn
                        button.button.button--outline.button--small
                          |Приостановить
                    .connected-page__bot-item
                      .connected-page__btn
                        button.button.button--outline.button--small
                          |Сменить тариф
                  .connected-page__bot-col
                    .services-page__card-label 
                      |Итоговая стоимость
                    .connected-page__heading
                      |650 ₽/мес
          .services-page__block(data-tabs-block='')
            //- h3.section__title 
              |Специальные акции и предложения
            .services-page__categories 
              .categories
                each item, i in ['Все (6)', 'Интернет (1)', 'Телевидение (4)',  ]
                  .categories__item 
                    .categories__btn(class=(i===0 ? 'active' : null))
                      |#{item}
            .connected-page__inner
              .services-page__item-heading 
                |Специальные предложения 
            .services-page__offer
              .services-page__offer-container
                .services-page__offer-title 
                  |Онлайн ТВ «iPakt» на 5 устройствах
                .services-page__offer-text 
                  |Вам доступен сервис онлайн ТВ «iPakt» на 5 устройстсвах. Пакет "Популярный"     
                .services-page__offer-btn 
                  button.button.button--black(data-fancy-button='service')
                    |Подключить
                a.services-page__offer-link(href="#") 
                  |Подробнее об опции на сайте
            .services-page__list 
              .services-page__item
                .services-page__item-heading 
                  |Тарифы
                .services-page__item-grid 
                  - for (i = 0; i < 6; i++)
                    .services-page__card
                      .services-page__card-container
                        .services-page__card-top
                          .services-page__card-heading.underline
                            |2 Мбит
                          .services-page__card-body 
                            .services-page__card-list 
                              .services-page__card-item 
                                .services-page__card-label 
                                  |Скорость
                                .services-page__card-text 
                                  |2 Мбит/с
                        .services-page__card-bot 
                          .services-page__card-price 
                            |150 ₽/мес 
                          .services-page__card-btn 
                            |Подключить
                  
  +modules-modal(title = 'Дополнительные модули' isTv = true)
  +service-modal