extends ../app

block variables
  - var sidebarActive = 2

block content
  .costs-page
    .panel
      .panel__text 
        |Контроль расходов
    section.section.section--first-panel
      .container
        .section__container
          .costs-page__wrapper 
            .costs-page__top 
              h1.section__title 
                |Контроль расходов
              .costs-page__copy 
                +copy
            .costs-page__inner
              .costs-page__inner-col
                .costs-page__calendar
                  |CALENDAR
                .costs-page__balance
                  .costs-page__balance-text 
                    |Баланс на 23.05.2023:
                  .costs-page__price 978,56 ₽
              .costs-page__inner-col
                a.button.button--outline.button--small(href="#") 
                  |Детализация звонков
            .costs-page__accordions
              .accordion(data-accordion='')
                .accordion__top(data-accordion-button='')
                  .accordion__title 
                    |Начисления
                  .accordion__icon 
                    +arrow-svg.accordion__svg
                .accordion__body(data-accordion-dropdown='')
                  .costs-page__accordions-inner 
                    .costs-page__accordions-col
                      .costs-page__price 
                        |Баланс на 01.05.2023
                    .costs-page__accordions-col
                      .costs-page__price 
                        |500 ₽
                  .costs-page__accordions-table 
                    .costs-page__accordions-top 
                      .costs-page__accordions-grid 
                        .costs-page__accordions-item
                          .section__label.default 
                            |Дата
                        .costs-page__accordions-item
                          .section__label.default 
                            |Услуга/Тариф
                        .costs-page__accordions-item
                          .section__label.default 
                            |Сумма начисления
                        .costs-page__accordions-item
                          .section__label.default 
                            |Сумма платежа
                    .costs-page__accordions-body 
                      - for (i = 0; i < 6; i++)
                        .costs-page__accordions-grid 
                          .costs-page__accordions-item 
                            .section__label.only-mobile
                              |Дата
                            .costs-page__text 
                              |01.09.2021 
                          .costs-page__accordions-item 
                            .section__label.only-mobile
                              |Услуга/Тариф
                            .costs-page__text 
                              |Название категории начисления (?)
                          .costs-page__accordions-item 
                            .section__label.only-mobile
                              |Сумма начисления
                            .costs-page__text 
                              |5 ₽
                          .costs-page__accordions-item 
                            .costs-page__text 
                              |500 ₽
                  .costs-page__accordions-btn 
                    |Показать все
                  .costs-page__accordions-inner 
                    .costs-page__accordions-col
                      .costs-page__price 
                        |Баланс на 01.05.2023
                    .costs-page__accordions-col
                      .costs-page__price 
                        |1954 ₽
              .accordion(data-accordion='')
                .accordion__top(data-accordion-button='')
                  .costs-page__row
                    .costs-page__row-col
                      .accordion__title 
                        |Платежи
                    .costs-page__row-col
                      .accordion__title 
                        |1300 ₽
                  .accordion__icon 
                    +arrow-svg.accordion__svg
                .accordion__body(data-accordion-dropdown='')
                  //- .costs-page__accordions-inner 
                  //-   .costs-page__accordions-col
                  //-     .costs-page__price 
                  //-       |Баланс на 01.05.2023
                  //-   .costs-page__accordions-col
                  //-     .costs-page__price 
                  //-       |500 ₽
                  //- .costs-page__accordions-table 
                  .costs-page__accordions-top 
                    .costs-page__accordions-grid.alt
                      .costs-page__accordions-item
                        .section__label.default 
                          |Дата
                      .costs-page__accordions-item
                        .section__label.default 
                          |Тип платежа
                      .costs-page__accordions-item
                        .section__label.default 
                          |Сумма
                  .costs-page__accordions-body 
                    - for (i = 0; i < 2; i++)
                      .costs-page__accordions-grid.alt
                        .costs-page__accordions-item 
                          .section__label.only-mobile
                            |Дата
                          .costs-page__text 
                            |01.09.2021 
                        .costs-page__accordions-item 
                          .section__label.only-mobile
                            |Тип платежа
                          .costs-page__text 
                            |Название категории начисления (?)
                        .costs-page__accordions-item 
                          .section__label.only-mobile
                            |Сумма
                          .costs-page__text 
                            |500 ₽
                          