extends ../app

block variables
  - var sidebarActive = 1

block content
  .services-page.connected-page.connected-page--default
    .panel
      a.panel__link(href="#") 
        .panel__icon 
          +arrow-left-svg.panel__svg 
        .panel__label 
          |Оплата
      .panel__text 
        |Заявление об ошибочном платеже 
    section.section.section--first-panel.partners-page__section.white
      .container
        .partners-page__part
          .partners-page__part-container 
            .partners-page__part-icon 
              +file-svg.partners-page__part-svg 
            .section__heading.partners-page__part-title 
              |Заявление поступило в обработку
            .partners-page__part-btn 
              a.button(href="#")
                |Вернуться к оплате
            .partners-page__part-caption 
              |При возникновении вопросов обращайтесь в контактный центр по номеру:  8 (812) 595-81-21