extends ../app

block variables
  - var sidebarActive = 1

block content
  .services-page.connected-page.connected-page--default
    .panel
      a.panel__link(href="#") 
        .panel__icon 
          +arrow-left-svg.panel__svg 
        .panel__label 
          |Оплата
      .panel__text 
        |Заявление об ошибочном платеже 
    section.section.section--first-panel
      .container
        .section__container
          .services-page__delay
            h1.section__title 
              |Заявление об ошибочном платеже 
            .connected-page__inner 
              .connected-page__accordion-heading 
                |Данные абонента 
              .connected-page__inner 
                .services-page__delay-wrapper 
                  .services-page__delay-inner
                    .services-page__delay-item 
                      .services-page__card-label 
                        |ФИО
                      .connected-page__text 
                        |Юдина Валентина Викторовна
                    .services-page__delay-item 
                      .services-page__card-label 
                        |Номер договора
                      .connected-page__text 
                        |0987654321
                    .services-page__delay-item 
                      .services-page__card-label 
                        |Номер телефона
                      .connected-page__text 
                        |+7 (990) 876-32-21
                    .services-page__delay-item 
                      .services-page__card-label 
                        |Адрес подключения
                      .connected-page__text 
                        |г. Санкт-Петербург, ул. Оптикова 37 к1, кв 239
            .connected-page__inner 
              .connected-page__accordion-heading 
                |Данные ошибочного платежа
              .services-page__inner 
                .services-page__delay-wrapper
                  .services-page__delay-grid
                    .services-page__delay-item
                      .services-page__delay-tooltip.tooltip.tooltip--alt
                        .section__label.default
                          |Дата запуска 
                        span.tooltip__icon(data-tooltip-icon='')
                          +tooltip-svg.tooltip__svg 
                        .tooltip__container 
                          |Число месяца, при наступлении которого счёт будет автоматически пополняться
                      .services-page__delay-calendar 
                        |CALENDAR
                    .services-page__delay-item
                      .section__label
                        |Платежная система
                      +select.select--big(options=['Сбербанк Онлайн', 'Тинькофф', 'СБП'])
                    .services-page__delay-item
                      .section__label
                        |Ошибочный номер договора
                      +input-second.input-wrapper--small(type='number' data-parsley-contract=''  data-input-number='')
                    .services-page__delay-item
                      .section__label
                        |Сумма
                      +input-second.input-wrapper--small(type='text' data-input-number='')
                  .services-page__file 
                    .file
                      label.file__label
                        input.file__input(type='file')
                        .file__icon 
                          +clip-svg.file__svg 
                        .file__text 
                          |Вложить рукописное заявление
              .services-page__delay-bot 
                .services-page__delay-btn 
                  a.button.button--outline.button--small.button--small--alt(href="#")
                    |Отменить
                .services-page__delay-btn 
                  .button.button--small.button--small--alt
                    |Отправить
