extends ../layouts/secondary



block header



block content
  .login-page
    .login-page__row 
      .login-page__col
        .login-page__logo 
          .only-desktop
            +picture('logo-white.png')
          .only-mobile
            +picture('logo.png')
        .login-page__title 
          |Добро пожаловать #[br] #[span в личный кабинет ПАКТ]
        .login-page__bot 
          .login-page__caption 
            |© 2021 ООО «ПАКТ» Пользовательское соглашение и политика конфиденциальности 
          .login-page__icons 
            a.login-page__item(href="#") 
              +vk-svg.login-page__svg
            a.login-page__item(href="#") 
              +ig-svg.login-page__svg
            a.login-page__item(href="#") 
              +fb-svg.login-page__svg
            a.login-page__item(href="#") 
              +yt-svg.login-page__svg
      .login-page__col
        form.login-page__form(action="/")
          .login-page__form-title 
            |Войти в личный кабинет
          .form-item 
            +input(type = 'text' placeholder = 'Номер договора')
          .form-item 
            +input(type = 'password' placeholder = 'Пароль')
          .login-page__form-btn 
            button.button 
              |Войти
          a.login-page__form-link(href="#")
            |Забыли пароль?