extends ../app

//- block header 
  +header(tech = true)

block content
  .main-page
    section.section.section--first.main
      .container 
        .announce
          .announce__icon 
            +hint-svg.announce__svg 
          .announce__text 
            |Блок под уникальное оповещение общего характера, блок будет отсутствовать, если нет необходимости его показывать.
    section.main-page__section 
      .container 
        .main-page__row 
          .main-page__col
            h1.main-page__title 
              |Здравствуйте, #[br] #[span Валентина Викторовна!]
            .main-page__services-address
              |Доступные услуги по адресу:&nbsp; #[br] #[span Оптиков 37, ст 1, кв 269]
          .main-page__col
            .main-page__balance
              .main-page__balance-top
                .main-page__balance-id
                  +copy-second
                .main-page__balance-row 
                  .main-page__balance-label 
                    |Баланс
                  .main-page__balance-date 
                    |На сегодня 17:53
                .main-page__balance-inner 
                  .main-page__balance-col
                    .main-page__balance-money 
                      |978,56 ₽
                    .main-page__balance-text 
                      |Услуги предоставляются
                  .main-page__balance-col
                    .main-page__balance-btn 
                      button.button 
                        |Пополнить
              .main-page__balance-bot
                a.main-page__balance-item(href="#") 
                  .main-page__balance-icon 
                    +pay-auto-svg.main-page__balance-svg 
                  .main-page__balance-content
                    .main-page__balance-heading 
                      |Автоплатеж
                    .main-page__balance-status 
                      |Активен
                a.main-page__balance-item(href="#") 
                  .main-page__balance-icon 
                    +pay-later-svg.main-page__balance-svg 
                  .main-page__balance-content
                    .main-page__balance-heading 
                      |Условный платеж
                    .main-page__balance-status 
                      |Не подключен
    section.section.main-page__section(data-real-tabs='')
      .container
        h3.section__title 
          |Мои услуги
        .main-page__services-top 
          .tabs.tabs--wide
            .tabs__list
              .tabs__item.active(data-tabs-item='')
                |Подключенные
              .tabs__item(data-tabs-item='')
                |Доступные
              .tabs__item(data-tabs-item='')
                |Специальные предложения
        .main-page__services-inner
          .block.active(data-tabs-block='')
            .service-grid.service-grid--alt
              -
                var ddata = [
                  {
                    title: 'Онлайн ТВ "iPakt"',
                    icon: "screen"
                  },
                  {
                    title: "Интернет",
                    icon: "globe"
                  },
                  {
                    title: "Телевидение",
                    icon: "tv"
                  },
                  {
                    title: "Телефония",
                    icon: "call"
                  },
                  {
                    title: "Видеонаблюдение",
                    icon: "record"
                  },
                  {
                    title: "Умный домофон",
                    icon: "record"
                  },
                ]
              each item, i in ddata
                a.service-card(class=(i == 0 ? 'service-card--alt' : null) href="#")
                  .service-card__container 
                    .service-card__top
                      .service-card__icon
                        case item.icon 
                          when 'screen'
                            +screen-svg.service-card__svg 
                          when 'globe'
                            +globe-svg.service-card__svg 
                          when 'tv'
                            +tv-svg.service-card__svg 
                          when 'call'
                            +call-svg.service-card__svg 
                          when 'record'
                            +record-svg.service-card__svg 
                      .service-card__title 
                        |#{item.title}
                      .tooltip.tooltip--big
                        .service-card__link(data-tooltip-icon='')
                          |Подробнее 
                        .tooltip__container 
                          .service-card__tooltip
                            .service-card__tooltip-title 
                              |Умный домофон
                            .service-card__tooltip-text 
                              |Удаленный доступ через мобильное приложение к системам контроля безопасности вашего дома 
                            object
                              a.service-card__link(href="#")
                                |Более подробно на сайте 
                    .service-card__bot 
                      .service-card__bot-row
                        .service-card__col
                          .service-card__count 
                            |6 тарифов
                        .service-card__col
                          object
                            a.service-card__btn(href="#") 
                              |Смотреть тарифы
          .block(data-tabs-block='')
            .service-grid
              -
                var ddata = [
                  {
                    title: 'Интернет',
                    icon: "globe"
                  },
                  {
                    title: "Телевидение",
                    icon: "tv"
                  },
                  {
                    title: "Телефония",
                    icon: "call"
                  },
                ]
              each item in ddata
                a.service-card.service-card--big(href="#") 
                  .service-card__container 
                    .service-card__top
                      .service-card__inner
                        .service-card__icon.default
                          case item.icon 
                            when 'globe'
                              +globe-svg.service-card__svg 
                            when 'tv'
                              +tv-svg.service-card__svg 
                            when 'call'
                              +call-svg.service-card__svg 
                        .service-card__status 
                          |Активна
                      .service-card__title 
                        |#{item.title}
                      ul.service-card__list 
                        li.service-card__item 
                          .service-card__label
                            |Тариф
                          .service-card__text 
                            |The Best / 100 МБ
                        li.service-card__item 
                          .service-card__label
                            |Абонимент до:
                          .service-card__text 
                            |31.10.21
                    .service-card__bot 
                      .service-card__bot-row
                        .service-card__col
                          .service-card__label
                            |Абонентская плата
                          .service-card__price 
                            |3 900 ₽ / 12 мес.
                        .service-card__col
                          .service-card__settings 
                            +settings-svg