extends ../app

block variables
  - var sidebarActive = 5

block content
  .partners-page
    .panel 
      .panel__text 
        |Партнерская программа
    section.section.partners-page__intro
      .container
        .partners-page__container
          .partners-page__top
            h1.partners-page__title 
              |Партнерская программа
            .partners-page__text 
              |Отличный способ пополнить свой счет без лишних затрат!
          .partners-page__steps
            .partners-page__heading 
              |Для этого:
            .partners-page__steps-inner 
              .partners-page__steps-item 
                .partners-page__steps-num 
                  |1
                .partners-page__steps-text 
                  |Расскажите Другу про "ПАКТ"
              .partners-page__steps-item 
                .partners-page__steps-num 
                  |2
                .partners-page__steps-text 
                  |Уточните у Друга номер договора после подключения
              .partners-page__steps-item 
                .partners-page__steps-num 
                  |3
                .partners-page__steps-text 
                  |Заполните форму в срок не позднее 15 дней с момента подключения.
            .partners-page__steps-caption 
              |После активации лицевого счета Вашего Друга, на Ваш счет будут перечислены 500 рублей!
          .partners-page__block
            .partners-page__heading 
              |Обращаем внимание!
            ul.partners-page__list
              each item in ['Акция действует только при заключении индивидуального договора на услуги "ПАКТ";', 'Подарочная сумма в размере 500 рублей не зависит от количества подключенных услуг;', 'Одного Друга можно подключить только один раз. Количество друзей неограниченно!', 'В случае если Ваш Друг отказался от услуг в течения 3 месяцев после подписания договора, Ваша подарочная сумма аннулируется!', 'Перечисленные бонусы Вы можете использовать на оплату любых Ваших услуг.', ]
                li.partners-page__list-item 
                  |#{item}
          .partners-page__block
            .partners-page__button 
              a.button(href="#")
                |Участвовать 