extends ../layouts/secondary



block header



block content
  .login-page
    .login-page__container 
      a.login-page__img(href="#")
        .login-page__logo.login-page__logo--alt 
          +logo-svg
      form.login-page__modal(action="/")
        .login-page__form-title.center
          |Восстановление пароля
        .form-item 
          +input(type = 'text' placeholder = 'Номер договора' data-parsley-contract=''  data-input-number='')
        .form-item 
          +input(type = 'text' placeholder = 'Телефон' data-mask-phone='' data-parsley-phone='')
        .login-page__form-btn 
          button.button 
            |Отправить
