extends ../layouts/secondary



block header



block content
  .login-page
    .login-page__container 
      a.login-page__img(href="#")
        .login-page__logo.login-page__logo--alt
          +picture('logo.png')
      form.login-page__modal(action="/")
        .login-page__form-title.center
          |Восстановление пароля
        .login-page__form-label 
          |Введите код подтверждения
        +input(type = 'number')
        .login-page__form-btn 
          button.button 
            |Отправить
        