extends ../layouts/secondary



block header

block feedback

block content
  .login-page.payment-page
    a.login-page__img(href="#")
      .login-page__logo.login-page__logo--alt 
        +logo-svg
    .payment-page__container
      .payment-page__modal.payment-page__response
        .payment-page__response-container
          .payment-page__modal-title 
            |Оплата услуг П.А.К.Т.
          .payment-page__response-icon 
            +ok-svg.payment-page__response-svg 
          .payment-page__response-text 
            |Платеж прошел успешно
          .payment-page__response-btn 
            a.button(href="#")
              |Вернуться назад 