.conditions-page {

  min-height: 100vh;

  background-color: color(white);
  
  &__section {
    padding: rem(136px) 0 rem(160px);
    @media #{media("<")} {
      padding-top: rem(91px);
    }
  }

  &__title {
    margin-bottom: rem(60px);

    font-weight: 600;
    @include fsl(32px, 90%);
    @media #{media("<")} {
      margin-bottom: rem(23px);

      letter-spacing: -0.01em;
      @include fsl(24px);
    }
  }

  &__content {
    margin: 0 auto;

    width: rem(1200px);
    @media #{media("<")} {
      width: auto;
    }

    h2 {
      margin-bottom: rem(40px);
      @media #{media("<")} {
        margin-bottom: rem(23px);

        @include fsl(18px, 140%);
        letter-spacing: -0.01em;
      }
      font-weight: 600;
      @include fsl(26px, 90%);
    }

    p {
      @include fsl(16px, 150%);

      &.gray {
        color: color(gray);
        font-style: italic;
      }
    }

    br {
      margin-top: rem(20px);
      content: "";

      display: block;
    }
  }

  &__block {

    &:not(:first-child) {
      margin-top: rem(60px);
    }
  }
}