mixin copy 
  .copy 
    .copy__icon
      +copy-svg.copy__svg 
    .copy__text 
      |0987654321

mixin copy-second
  .copy.copy--second 
    .copy__icon
      +copy-alt-svg.copy__svg 
    .copy__text 
      |0987654321