mixin header
  header.header
    if (attributes.tech)
      .header-bunner
        .header-bunner__text 
          |Внимание! Блок под оповещение о тех. работах. Этот блок будет отсутствовать в случае, когда нет необходимости оповещать клиента. 
        .header-bunner__icon 
          +cross-svg.header-bunner__svg
    .header__inner 
      .header__desktop
        .header__row 
          .header__col
            a.header__logo(href="#")
              +picture('logo.png')
          .header__col
            .header__item
              .header__button
                +phone-svg.header__svg
            .header__item
              .header__button
                +bell-svg.header__svg
            .header__item
              .header__profile
                .header__profile-text 
                  |Валентина В.
                .header__profile-icon 
                  +arrow-svg.header__profile-svg
      .header__mobile 
        .header__row 
          .header__col
            .header__item.right 
              .header__button
                +burger-svg.header__svg
            a.header__logo(href="#")
              +picture('logo.jpg')
          .header__col
            .header__item
              .header__button
                +phone-svg.header__svg
            .header__item
              .header__button
                +bell-svg.header__svg
            .header__item
              .header__button
                +user-svg.header__svg
