mixin sidebar(active)
  sidebar.sidebar 
    .sidebar__container 
      .sidebar__top
        nav.sidebar__nav
          .sidebar__item
            a.sidebar__item-link(href="#" class=(active === 0 ? 'active' : null))
              .sidebar__item-icon 
                +home-svg.sidebar__item-svg 
              .sidebar__item-text 
                |Мой ПАКТ
          .sidebar__item
            a.sidebar__item-link(href="#" class=(active === 1 ? 'active' : null))
              .sidebar__item-icon 
                +services-svg.sidebar__item-svg 
              .sidebar__item-text 
                |Услуги
          .sidebar__item
            a.sidebar__item-link(href="#" class=(active === 2 ? 'active' : null))
              .sidebar__item-icon 
                +pie-svg.sidebar__item-svg 
              .sidebar__item-text 
                |Контроль расходов
          .sidebar__item
            a.sidebar__item-link(href="#" class=(active === 3 ? 'active' : null))
              .sidebar__item-icon 
                +card-svg.sidebar__item-svg 
              .sidebar__item-text 
                |Оплата
        ul.sidebar__list
          each item, i in ['Новости', 'Партнерские программы', 'Полезная информация', ]
            li.sidebar__list-item 
              a.sidebar__link(href="#" class=(i+4 === active ? 'active' : null))
                |#{item} 
      .sidebar__bot
        a.sidebar__block(href="#") 
          .sidebar__block-item
            .sidebar__block-title 
              |Интернет ускорение до 700 Мбит/с
            .sidebar__block-text 
              |Скорость взлетает, цена - тормозит
          .sidebar__block-item
            .sidebar__block-icon 
              +big-arrow-svg.sidebar__block-svg